<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QayBio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <nav>
        <a href="/" class="logo-container">
            <img src="{{ url_for('static', filename='imagenes/logo.jpg') }}" alt="Logo QayBio" class="logo-img">
        </a>
        <form class="search-bar" action="/">
            <input type="text" name="q" placeholder="Buscar productos..." required>
            <button type="submit">🔍</button>
        </form>
    </nav>

    <div class="banner-container">
        <img src="{{ url_for('static', filename='imagenes/banner.jpg') }}" alt="Bienvenidos a QayBio" class="banner-img">
    </div>

    <div class="main-content">
    {% block content %}{% endblock %}
</body>
</html>