{%extends "base.html" %}
{% block content %}
<div class="detalle">
    <img src="{{ url_for('static', filename='imagenes/' + producto.imagen) }}">
    <div style="flex: 1; min-width: 300px;">
        <h1>{{producto.nombre}}</h1>
        <p class="precio" style="font-style: 2.5rem;">S/ {{producto.precio }}</p>
        <hr>
        <p style="line-height: 1.6; color: #555;">{{producto.descripcion}}</p>

        <a href="https://wa.me/{{Whatsapp}}?text=Hola,%20quiero%20info%20de: {{ producto.nombre | urlencode}}" class="btn-whatsapp" target="_blank">ADQUIRIR-CONTACTAR

        </a>
        <p style="text-align: center; margin-top: 10px; color: #888;">Llamar al: +{{Whatsapp}}</p>
    </div>
</div>

{% endblock %}